@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.DropDowns
@using System.ComponentModel.DataAnnotations
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Navigations
@using Task_management_system.Areas.Identity
@using Task_management_system.Models
@using Task_management_system.Services.Common
@using Task_management_system.Pages.Shared
@using Syncfusion.Blazor.Popups
@using Task_management_system.Interfaces
<SfDialog Width="85%" Height="auto" IsModal="true" ShowCloseIcon="true" EnableResize="false" AllowDragging="true" @bind-Visible="@_isVisible">
    <DialogTemplates>
        <Header>
            <span style="color: #009cfc;">Импортиране на задачи от файл</span>
        </Header>
        <Content>
            <InputFile class="form-control mb-2" OnChange="@LoadQuestions" />
            @foreach (var issue in issues)
            {
            <li class="list-group-item rounded d-flex justify-content-between align-items-center" style="border-top-width: 1px; margin-top: 2px; margin-bottom: 2px">
                <div style="width:  450px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                        @issue.Subject
                </div>
                <div class="vr hide840 mx-1"></div>
                <div class="hide840 mx-2" style="max-width: 100px; text-align: center; border-radius: 20.25rem;">
                    <i style="color: gray" class="fa-solid fa-arrows-spin"></i>
                    &nbsp;
                    <span>@issue.Status</span>
                </div>
                <div class="hide840 mx-2" style="max-width: 100px; text-align: center; border-radius: 20.25rem;">
                    <i style="color: gray" class="fa-solid fa-circle-exclamation"></i>
                    &nbsp;
                    <span>@issue.Priority</span>
                </div>
                <div class="hide840 mx-2" style="max-width: 100px; text-align: center; border-radius: 20.25rem;">
                    <i style="color: gray" class="fa-regular fa-calendar"></i>
                    &nbsp;
                    <span>@issue.StartTime.ToString("dd.MM.yyyy") - @issue.EndTime.ToString("dd.MM.yyyy")</span>
                </div>
                <div class="vr hide840 mx-1"></div>
                <div style="display: flex">
                    <SfTooltip Position="Position.BottomCenter" Content="Редактиране" OpensOn="Hover">
                        <button type="button" class="btn btn-outline-warning waves-effect md-trigger m-1" @onclick="(() => EditIssue(issue))">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                    </SfTooltip>
                    <SfTooltip Position="Position.BottomCenter" Content="Изтриване" OpensOn="Hover">
                        <button type="button" class="btn btn-outline-danger waves-effect md-trigger m-1" @onclick="(() => DeleteIssue(issue))">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </SfTooltip>
                </div>
            </li>
            }
            @if (!issues.Any())
            {
            <div class="list-group-item rounded d-flex justify-content-between align-items-center" style="border-top-width: 1px; margin-top: 2px; margin-bottom: 2px">
                <label style="color: gray">Няма качени задачи!</label>
            </div>
            }
        </Content>
        <FooterTemplate>
            <div class="form-group">
                <div class="text-right">
                    <button type="button" class="btn btn-primary" @onclick="UploadIssues">Добави</button>
                    <button type="button" class="btn btn-secondary" @onclick="CloseDialog">Отказ</button>
                </div>
            </div>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>
<ToastMsg @ref="toast" />
<IssueImportModal @ref="importIssueModal" CallbackAfterSubmit="UpdateData"></IssueImportModal>
<style>
    .overlay-inner {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
        backdrop-filter: blur(10px);
    }
    .progress-bar-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10000;
    }
    .e-dialog .e-dlg-content {
        font-family: SegoeUI;
    }
</style>