@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.DropDowns
@using System.ComponentModel.DataAnnotations
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Navigations
@using Task_management_system.Areas.Identity
@using Task_management_system.Models
@using Task_management_system.Services.Common
@using Syncfusion.Blazor.Popups
@using Task_management_system.Interfaces
@inject IProjectService ProjectService


<SfDialog Width="85%" Height="auto" IsModal="true" ShowCloseIcon="true" EnableResize="true" AllowDragging="true" @bind-Visible="@_isVisible">
    <DialogTemplates>
        <Header>
            @if (this.issue != null)
            {
                @if (this.issue.Project != null)
                {
                    <span style="color: darkgray;">@this.issue.Project.ProjectName / </span>
                    <span style="color: #009cfc;">@this.issue.Subject</span>
                }
                else
                {
                    <span style="color: #009cfc;">@this.issue.Subject</span>
                }
            }

        </Header>
        <Content>



            <hr class="@statusLineColor" />
            <EditForm id="issueForm" EditContext="editContext" OnValidSubmit="SaveIssue">

                <DataAnnotationsValidator />


                <InputText id="issueName" @bind-Value="issue.Subject" class="form-control my-4" placeholder="Име" style="font-size: 36px"></InputText>
                <div class="row">
                    <!-- Column 1 -->
                    <div class="col-md-6">
                        <div class="p-3 col-md-12 my-1 card-modal">
                            <div class="row py-1">
                                <div class="col-4 col-md-3 col-sm-4 col-xs-4 d-flex align-items-center">
                                    <i class="fa-solid fa-arrows-spin" style="color: dimgray"></i>&nbsp;&nbsp;<span style="color: dimgray;"><b>Статус</b></span> &nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="col-8 col-md-9 col-sm-8 col-xs-8 d-flex align-items-center">

                                    <SfDropDownList @ref="statusDropDownList" ID="status" TValue="string" Enabled="true" TItem="KeyValue" @bind-Value="issue.Status" PopupHeight="350px" PopupWidth="350px" DataSource="@statuses">
                                        <DropDownListFieldSettings Value="Name" Text="Name"></DropDownListFieldSettings>
                                        <DropDownListEvents TItem="KeyValue" TValue="string" ValueChange="@OnValueSelectHandlerStatus"></DropDownListEvents>
                                    </SfDropDownList>

                                </div>

                            </div>
                            <div class="row py-1">
                                <div class="col-4 col-md-3 col-sm-4 col-xs-4 d-flex align-items-center">
                                    <i class="fa-solid fa-circle-exclamation" style="color: dimgray"></i>&nbsp;&nbsp;<span style="color: dimgray;"><b>Приоритет</b></span> &nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="col-8 col-md-9 col-sm-8 col-xs-8 d-flex align-items-center">

                                    <SfDropDownList @ref="priorityDropDownList" ID="priority" TValue="string" Enabled="true" TItem="KeyValue" @bind-Value="issue.Priority" PopupHeight="350px" PopupWidth="350px" DataSource="@priorities">
                                        <DropDownListFieldSettings Value="Name" Text="Name"></DropDownListFieldSettings>
                                    </SfDropDownList>

                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Column 2 -->
                    <div class="col-md-6">
                        <div class="p-3 col-md-12 my-1 card-modal">
                            <div class="row py-1">
                                <div class="col-4 col-md-3 col-sm-4 col-xs-4 d-flex align-items-center">
                                    <i class="fa-solid fa-clone fa-lg" style="color: dimgray"></i>&nbsp;&nbsp;<span style="color: dimgray;"><b>Проект</b></span> &nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="col-8 col-md-9 col-sm-8 col-xs-8 d-flex align-items-center">
                                    <SfDropDownList ID="project" Enabled="false" TValue="int" TItem="Project" @bind-Value="issue.ProjectId" PopupHeight="350px" PopupWidth="350px" Placeholder="Изберете проект" DataSource="@projects">
                                        <DropDownListFieldSettings Value="ProjectId" Text="ProjectName"></DropDownListFieldSettings>
                                        <DropDownListEvents TItem="Project" TValue="int" ValueChange="@OnValueSelectHandlerProject"></DropDownListEvents>
                                    </SfDropDownList>
                                </div>



                            </div>
                            <div class="row py-1">
                                <div class="col-4 col-md-3 col-sm-4 col-xs-4 d-flex align-items-center">
                                    <i class="fa-solid fa-clock fa-lg" style="color: dimgray"></i>&nbsp;&nbsp;<span style="color: dimgray;"><b>Срок</b></span> &nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="col-8 col-md-9 col-sm-8 col-xs-8 d-flex align-items-center">
                                    <SfDateRangePicker ID="datepicker" TValue="DateTime" Format="dd.MM.yyyy" @bind-StartDate="@issue.StartTime" @bind-EndDate="@issue.EndTime" ShowTodayButton="true" ShowClearButton="true" Min="@MinDate"></SfDateRangePicker>
                                    <ValidationMessage For="@(() => issue.EndTime)" />
                                    <ValidationMessage For="@(() => issue.StartTime)" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <label for="description">Описание на задача</label>
                <div class="multiline">
                    <SfTextBox id="description" Multiline=true Placeholder="Въведете описание на задача" @bind-Value="@issue.Description"></SfTextBox>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="owner">Възложена на</label>
                        <SfDropDownList ID="owner" TValue="string" Enabled="(isLoggedUserAdmin || _isIssueNew) || issue.AssigneeId == loggedUser.Id" TItem="ApplicationUser" @bind-Value="issue.AssignedТoId" PopupHeight="350px" PopupWidth="350px" Placeholder="Изберете, на кого е възложена" DataSource="@users" ValueChange="@OnValueSelectHandlerAssignedTo">
                            <DropDownListFieldSettings Value="Id" Text="FullName"></DropDownListFieldSettings>
                        </SfDropDownList>
                    </div>

                </div>


            </EditForm>
        </Content>
        <FooterTemplate>
            <div class="form-group">
                <div class="text-right">
                    <button type="submit" class="btn btn-primary" form="issueForm">Запиши</button>
                    <button type="button" class="btn btn-secondary" @onclick="CloseDialog">Отказ</button>
                </div>
            </div>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>
<ToastMsg @ref="toast" />

<style>
    .e-dialog .e-dlg-content {
        font-family: SegoeUI;
    }
</style>


