@using Syncfusion.Blazor.DropDowns
@using System.ComponentModel.DataAnnotations
@using Task_management_system.Areas.Identity
@using Task_management_system.Pages.Common
@using Task_management_system.Services.Common
@using Syncfusion.Blazor.Popups
@inject IUserService UserService


<SfDialog Width="700px" Height="400px" IsModal="true" ShowCloseIcon="true" EnableResize="true" AllowDragging="true" @bind-Visible="@IsVisible">
    <DialogTemplates>
        <Header>Данни за потребител <span style="color: #009cfc;">@this.inputModel.FirstName @this.inputModel.LastName</span></Header>
        <Content>

            <EditForm EditContext="editContext">

                <DataAnnotationsValidator />

                <div class="row">
                    <div class="col-md-4">
                        <label for="userName">Потребителско име</label>
                        <InputText id="userName" @bind-Value="inputModel.Username" class="form-control"></InputText>
                        <ValidationMessage For="@(() => inputModel.Username)" />
                    </div>
                    <div class="col-md-4">
                        <label for="firstName">Име</label>
                        <InputText id="firstName" @bind-Value="inputModel.FirstName" class="form-control"></InputText>
                        <ValidationMessage For="@(() => inputModel.FirstName)" />
                    </div>
                    <div class="col-md-4">
                        <label for="lastName">Фамилия</label>
                        <InputText id="lastName" @bind-Value="inputModel.LastName" class="form-control"></InputText>
                        <ValidationMessage For="@(() => inputModel.LastName)" />
                    </div>
                </div>
                <div class="row">
                    @if (IsUserNew)
                    {
                        <div class="col-md-4">
                            <label for="telephone">Телефон</label>
                            <InputText id="telephone" @bind-Value="inputModel.PhoneNumber" class="form-control"></InputText>
                            <ValidationMessage For="@(() => inputModel.PhoneNumber)" />
                        </div>
                        <div class="col-md-4">
                            <label for="email">Имейл</label>
                            <InputText id="email" @bind-Value="inputModel.Email" class="form-control"></InputText>
                            <ValidationMessage For="@(() => inputModel.Email)" />
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="password">Парола</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button type="button" class="btn btn-outline-warning waves-effect" @onclick="GeneratePassword">
                                            <i class="fa-solid fa-arrows-rotate"></i>
                                        </button>
                                    </div>
                                    <InputText id="password" @bind-Value="inputModel.Password" class="form-control" readonly="true"></InputText>

                                </div>
                            </div>

                        </div>
                    }
                    else
                    {
                        <div class="col-md-6">
                            <label for="telephone">Телефон</label>
                            <InputText id="telephone" @bind-Value="inputModel.PhoneNumber" class="form-control"></InputText>
                            <ValidationMessage For="@(() => inputModel.PhoneNumber)" />
                        </div>
                        <div class="col-md-6">
                            <label for="email">Имейл</label>
                            <InputText id="email" @bind-Value="inputModel.Email" class="form-control"></InputText>
                            <ValidationMessage For="@(() => inputModel.Email)" />
                        </div>
                        <div class="col-md-6">
                            <label for="role">Роля</label>
                            <SfDropDownList id="role" TValue="string" TItem="Role" @bind-Value="inputModel.Role" PopupHeight="350px" PopupWidth="350px" Placeholder="Изберете роля" DataSource="@Roles">
                                <DropDownListFieldSettings Value="ID" Text="Text"></DropDownListFieldSettings>
                            </SfDropDownList>
                        </div>
                    }

                </div>


            </EditForm>
        </Content>
        <FooterTemplate>
            <div class="form-group">
                <div class="text-right">
                    <button type="button" class="btn btn-primary" @onclick="SaveUser">Запиши</button>
                    <button type="button" class="btn btn-secondary" @onclick="CloseDialog">Отказ</button>
                </div>
            </div>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>
<ToastMsg @ref="toast" />

