@page "/Register"


<div class="content-wrapper">
    <div class="content-header">
        <div class="container" style=" max-width: 50%;  margin: auto;  padding: 8% 0;">
            <h2 style="text-align: center; color: white;">Регистрация</h2>
            <div class="card shadow p-3 mb-5 bg-white rounded ">

                <div class="card-body">
                    <EditForm Model="@user" OnValidSubmit="@RegisterUser" id="loginForm">
                        <DataAnnotationsValidator />

                        <div class="modal-body">
                            <p class="validation-message">@error</p>
                            
                            <div class="row">
                                <div class="col-12">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label class="control-label">
                                            Потребителско име:
                                        </label>
                                        <InputText id="Username" class="form-control" type="text" @bind-Value="@user.Username"></InputText>
                                        <ValidationMessage For="@(() => user.Username)" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label class="control-label">
                                            Имейл:
                                        </label>
                                        <InputText id="Email" class="form-control" type="text" @bind-Value="@user.Email"></InputText>
                                        <ValidationMessage For="@(() => user.Email)" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label class="control-label">
                                            Парола:
                                        </label>
                                        <InputText id="Password" class="form-control" type="password" @bind-Value="@user.Password"></InputText>
                                        <ValidationMessage For="@(() => user.Password)" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label class="control-label">
                                            Повторете паролата:
                                        </label>
                                        <InputText id="ConfirmPassword" class="form-control" type="password" @bind-Value="@user.ConfirmPassword"></InputText>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer" style="background-color: white">
                            <div class="row">
                                <div class="col-12">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary" @onclick="RegisterUser">Регистрация</button>
                                        <button type="button" class="btn btn-outline-primary" form="loginForm" @onclick="NavToLogin"><i class="icofont icofont-user-alt-3"></i>Вход</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </EditForm>
                </div>

            </div>
        </div>
    </div>
</div>



@code {

    

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //  await localStorage.ClearAsync();
    }

}
