@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.DropDowns
@using System.ComponentModel.DataAnnotations
@using Syncfusion.Blazor.Inputs
@using Task_management_system.Areas.Identity
@using Task_management_system.Models
@using Task_management_system.Services.Common
@using Syncfusion.Blazor.Popups
@using Task_management_system.Interfaces
@inject IProjectService ProjectService


<SfDialog Width="700px" Height="400px" IsModal="true" ShowCloseIcon="true" EnableResize="true" AllowDragging="true" @bind-Visible="@IsVisible">
    <DialogTemplates>
        <Header>
           <span style="color: #009cfc;">@this.project.ProjectName</span></Header>
        <Content>

            <EditForm id="projectForm" EditContext="editContext" OnValidSubmit="@SaveProject">

                <DataAnnotationsValidator />

                <div class="row">
                    <div class="col-md-4">
                        <label for="projectName">Име на проект</label>
                        <InputText disabled="@(!(project.ProjectOwner == null || (isLoggedUserAdmin || project.ProjectOwner.Id == loggedUser.Id)))" id="projectName" @bind-Value="project.ProjectName" placeholder="Въведете име" class="form-control"></InputText>
                    </div>
                    <div class="col-md-4">
                        <label for="datepicker">Диапазон на проект</label>
                        <SfDateRangePicker Enabled="project.ProjectOwner == null || (isLoggedUserAdmin || project.ProjectOwner.Id == loggedUser.Id)" ID="datepicker"  TValue="DateTime" Format="dd.MM.yyyy" @bind-StartDate="@project.StartDate" @bind-EndDate="@project.EndDate" ShowTodayButton="true" ShowClearButton="true" Min="@MinDate"></SfDateRangePicker>
                    </div>
                    <div class="col-md-4">
                        <label for="type">Тип проект</label>
                        <SfDropDownList Enabled="project.ProjectOwner == null || (isLoggedUserAdmin || project.ProjectOwner.Id == loggedUser.Id)" ID="type"  TValue="int" TItem="KeyValue" @bind-Value="project.ProjectTypeId" PopupHeight="350px" PopupWidth="350px" Placeholder="Изберете тип" DataSource="@projectTypes">
                            <DropDownListFieldSettings Value="IdKeyValue" Text="Name"></DropDownListFieldSettings>
                        </SfDropDownList>
                    </div>
                </div>
                <label for="description">Описание на проект</label>
                <div class="multiline">
                    <SfTextBox Enabled="project.ProjectOwner == null || (isLoggedUserAdmin || project.ProjectOwner.Id == loggedUser.Id)" id="description"  Multiline=true Placeholder="Въведете описание" @bind-Value="@project.ProjectDescription"></SfTextBox>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="owner">Собственик на проекта</label>
                        <SfDropDownList ID="owner" TValue="ApplicationUser" Enabled="project.ProjectOwner != null ? isLoggedUserAdmin : true " TItem="ApplicationUser" @bind-Value="project.ProjectOwner" PopupHeight="350px" PopupWidth="350px" Placeholder="Изберете собственик" DataSource="@users">
                            <DropDownListFieldSettings Value="UserName" Text="FullName"></DropDownListFieldSettings>
                        </SfDropDownList>
                    </div>
                    <div class="col-md-12">
                        <label for="participants">Участници в проекта</label>
                        <SfMultiSelect @ref="projectParticipantsSfMultiSelect" Enabled="project.ProjectOwner == null || (isLoggedUserAdmin || project.ProjectOwner.Id == loggedUser.Id)" TValue="ApplicationUser[]" TItem="ApplicationUser" Placeholder="Изберете участници" DataSource="@users" @bind-Value="projectParticipants">
                            <MultiSelectFieldSettings Text="FullName" Value="UserName"></MultiSelectFieldSettings>
                            <MultiSelectEvents TItem="ApplicationUser" TValue="ApplicationUser[]" ValueChange="@OnValueSelectHandlerParticipants"></MultiSelectEvents>
                        </SfMultiSelect>
                        
                    </div>
                </div>


            </EditForm>
        </Content>
        <FooterTemplate>
            <div class="form-group">
                <div class="text-right">

                    <button type="submit" class="btn btn-primary" form="projectForm" @onclick="@ValidateParticipants">Запиши</button>
                    <button type="button" class="btn btn-secondary" @onclick="CloseDialog">Отказ</button>
                </div>
            </div>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>
<ToastMsg @ref="toast" />

