@page "/Projects"
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.PdfExport
@using Task_management_system.Areas.Identity
@using Task_management_system.Data
@using Task_management_system.Interfaces
@using Task_management_system.Models
@using Task_management_system.Pages
@using Task_management_system.Pages.Shared
@using System.Globalization
@attribute [Authorize(Roles = "Admin,User")]
<div class="content-wrapper">
    <div>
        @if (ShowHeader)
        {
            <div class="frame container">
                <img class="banner" src="img/Projects-01.svg" alt="Banner">
                <div class="bottom-left">
                    <h3>Проекти</h3>
                    <nav class="navbar navbar-expand">
                        <!-- Left navbar links -->
                        <ul class="navbar-nav float">
                            <li class="nav-item d-sm-inline-block">
                                <button type="button" class="btn btn-primary btn-outline-primary waves-effect md-trigger" @onclick="AddNewProjectClickHandler">Нов проект</button>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="m-3">
                <div class="row m-0">
                    <div class="col-sm-12">
                        <div class="project-issue-list">
                            @foreach (var projectType in projectTypes)
                            {
                                <CollapsibleCard @key="projectType.IdKeyValue">
                                    <CardHeader>
                                        @if (projectType.Name == "Учебен")
                                        {
                                            <div class="e-message e-success p-2" style="font-size: 20px">@projectType.Name</div>
                                        }
                                        else if (projectType.Name == "Работен")
                                        {
                                            <div class="e-message e-warning p-2" style="font-size: 20px">@projectType.Name</div>
                                        }
                                        else
                                        {
                                            <div class="e-message e-error p-2" style="font-size: 20px">@projectType.Name</div>
                                        }
                                    </CardHeader>
                                    <CardBody>
                                        <ul class="list-group">
                                            @{
                                                var hasItems = false;
                                            }
                                            @foreach (var project in projects)
                                            {
                                                @if (project.ProjectType == projectType.Name)
                                                {
                                                    hasItems = true;
                                                    <li class="list-group-item rounded d-flex justify-content-between align-items-center" style="border-top-width: 1px; margin-top: 2px; margin-bottom: 2px">
                                                        <div style="max-width: 360px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                                                            @project.ProjectName
                                                        </div>
                                                        <div class="vr hide840 mx-1"></div>
                                                        @if (project.Issues.Count() != 0)
                                                        {
                                                            <div class="progress hide1100 mx-2" style="width: 220px; border-radius: 20.25rem;">
                                                                <div class="progress-bar hide1100" role="progressbar" aria-label="Завършени задачи" style="width: @((project.Issues == null ? 0 : Convert.ToDouble(project.Issues.Where(x => x.Status == "Затворена").Count()) / (project.Issues.Count()) * 100).ToString().Replace(',', '.'))%; background-color: #4f9b00" aria-valuenow="@(project.Issues == null ? 0 : (project.Issues.Where(x => x.Status == "Затворена").Count() / project.Issues.Count()) * 100)" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                            <label class="hide840 mx-2" style="color: gray; text-align: center;">@(project.Issues == null ? 0 : project.Issues.Where(x => x.Status == "Затворена").Count())/@(project.Issues == null ? 0 : project.Issues.Count()) завършени задачи </label>
                                                        }
                                                        else
                                                        {
                                                            <label class="hide840 mx-2" style="color: gray; text-align: center;">Няма добавени задачи </label>
                                                        }
                                                        <div class="vr hide840 mx-1"></div>
                                                        <div>
                                                            <div @key="project.ProjectId" style="display: flex">
                                                                @if (isLoggedUserAdmin || project.ProjectOwner.Id == loggedUser.Id)
                                                                {
                                                                    <SfTooltip Position="Position.BottomCenter" Content="Редактиране" OpensOn="Hover">
                                                                        <button type="button" class="btn btn-outline-warning waves-effect md-trigger m-1" @onclick="(() => EditProject(project))">
                                                                            <i class="fa-solid fa-pen-to-square"></i>
                                                                        </button>
                                                                    </SfTooltip>
                                                                    @if (project.ProjectOwner.Id == loggedUser.Id)
                                                                    {
                                                                        <SfTooltip Position="Position.BottomCenter" Content="Изтриване" OpensOn="Hover">
                                                                            <button type="button" class="btn btn-outline-danger waves-effect md-trigger m-1" @onclick="(() => DeleteProject(project))">
                                                                                <i class="fa-solid fa-trash"></i>
                                                                            </button>
                                                                        </SfTooltip>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <SfTooltip Position="Position.BottomCenter" Content="Преглед" OpensOn="Hover">
                                                                        <button type="button" class="btn btn-outline-primary waves-effect md-trigger m-1" @onclick="(() => EditProject(project))">
                                                                            <i class="fa-solid fa-eye"></i>
                                                                        </button>
                                                                    </SfTooltip>
                                                                }
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            }
                                            @if (!hasItems)
                                            {
                                                <div class="list-group-item rounded d-flex justify-content-between align-items-center" style="border-top-width: 1px; margin-top: 2px; margin-bottom: 2px">
                                                    <label style="color: gray">Няма проекти в избраната категория!</label>
                                                </div>
                                            }
                                        </ul>
                                    </CardBody>
                                </CollapsibleCard>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="m-3">
                <div class="row m-0">
                    <div class="col-sm-12">
                        <div class="project-issue-list">
                            @foreach (var projectType in projectTypes)
                            {
                                <CollapsibleCard>
                                    <CardHeader>
                                        @if (projectType.Name == "Учебен")
                                        {
                                            <div class="e-message e-success p-2" style="font-size: 20px">@projectType.Name</div>
                                        }
                                        else if (projectType.Name == "Работен")
                                        {
                                            <div class="e-message e-warning p-2" style="font-size: 20px">@projectType.Name</div>
                                        }
                                        else
                                        {
                                            <div class="e-message e-error p-2" style="font-size: 20px">@projectType.Name</div>
                                        }
                                    </CardHeader>
                                    <CardBody>
                                        <ul class="list-group">
                                            @{
                                                var hasItems = false;
                                            }
                                            @foreach (var project in projects)
                                            {
                                                @if (project.ProjectType == projectType.Name)
                                                {
                                                    hasItems = true;
                                                    <li class="list-group-item rounded d-flex justify-content-between align-items-center" style="border-top-width: 1px; margin-top: 2px; margin-bottom: 2px">
                                                        <div style="max-width:  450px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                                                            @project.ProjectName
                                                        </div>
                                                        <div>
                                                            <div style="display: flex">
                                                                @if (isLoggedUserAdmin || project.ProjectOwner.Id == loggedUser.Id)
                                                                {
                                                                    <SfTooltip Position="Position.BottomCenter" Content="Редактиране" OpensOn="Hover">
                                                                        <button type="button" class="btn btn-outline-warning waves-effect md-trigger m-1" @onclick="(() => EditProject(project))">
                                                                            <i class="fa-solid fa-pen-to-square"></i>
                                                                        </button>
                                                                    </SfTooltip>
                                                                    @if (project.ProjectOwner.Id == loggedUser.Id)
                                                                    {
                                                                        <SfTooltip Position="Position.BottomCenter" Content="Изтриване" OpensOn="Hover">
                                                                            <button type="button" class="btn btn-outline-danger waves-effect md-trigger m-1" @onclick="(() => DeleteProject(project))">
                                                                                <i class="fa-solid fa-trash"></i>
                                                                            </button>
                                                                        </SfTooltip>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <SfTooltip Position="Position.BottomCenter" Content="Преглед" OpensOn="Hover">
                                                                        <button type="button" class="btn btn-outline-primary waves-effect md-trigger m-1" @onclick="(() => EditProject(project))">
                                                                            <i class="fa-solid fa-eye"></i>
                                                                        </button>
                                                                    </SfTooltip>
                                                                }
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            }
                                            @if (!hasItems)
                                            {
                                                <div class="list-group-item rounded d-flex justify-content-between align-items-center" style="border-top-width: 1px; margin-top: 2px; margin-bottom: 2px">
                                                    <label style="color: gray">Няма проекти в избраната категория!</label>
                                                </div>
                                            }
                                        </ul>
                                    </CardBody>
                                </CollapsibleCard>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<ToastMsg @ref="toast" />
<ProjectModal @ref="projectModal" CallbackAfterSubmit="UpdateAfterProjectModalSubmitAsync" />
